body {
    padding: 0;
    margin: 0;
  }
  
  .test-container {

    margin: 0 auto;  /* Added for horizontal centering */
  }
  
  .App {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .app-header {
    text-align: center;
    background-color: #3b5998;
    color: white;
    width: 100%;
  }
  
  .app-container {
    margin-top: 50px;
  }
  
  .sign-out {
    margin-top: 50px;
  }